# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
venv/
env/
ENV/
*.sqlite3

# Environment variables
.env
*.env

# Django
*.log
db.sqlite3
/staticfiles/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db